<html>
    <head>
        <title>RESULT</title>
    </head>
    <body>
        <table>
            <tr valign="top">
                <td>
                    {% for doc in result %}
                    <h1>Id: {{ doc.id }}</h1>
                    <h1>Rubrics: {{ doc.rubrics }}</h1>
                    <h1>Text: {{ doc.text }}</h1>
                    <h1>Created_date: {{ doc.created_date }}</h1>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </body>
</html>