<html>
    <head>
        <title>ID</title>
    </head>
    <body>
        <table>
            <tr valign="top">
                <td>
                    {% for res in result %}
                    <h1>Id: {{ res.id }}</h1>
                    <h1>Rubrics: {{ res.rubrics }}</h1>
                    <h1>Text: {{ res.text }}</h1>
                    <h1>Created_date: {{ res.created_date }}</h1>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </body>
</html>

<!--<h1>Id: {{ result }}</h1>